<h2>Create Double Booking</h2>
<br />
@model STLSearchClerksMVC.Models.DoubleBookingViewModel
@{
    //var searchClerks = ViewBag.SearchClerks;
    //var authorities = ViewBag.Authorities;

    using (Html.BeginForm("InsertDoubleBooking", "Home", FormMethod.Post, null))
    {
        @*<p>@Html.ValidationSummary(false)</p>*@
        <table id="tblsertDoubleBooking">
            <tr>
                <td>
                    Authority: 
                </td>
                <td>
                    @Html.DropDownListFor(x => x.AuthorityId, new SelectList(Model.Authorities, "AuthorityId", "Name"), "-- Select Authority --")
                    @Html.ValidationMessageFor(model => model.AuthorityId)
                </td>
            </tr>
            <tr>
                <td>
                    Booking Date:
                </td>
                <td>
                    @Html.TextBoxFor(model => model.BookingDate, new { type = "date" })
                    @Html.ValidationMessageFor(model => model.BookingDate)
                </td>
            </tr>
            <tr>
                <td>
                    SearchClerk: 
                </td>
                <td>
                    @Html.DropDownListFor(x => x.SearchClerkId, new SelectList(Model.SearchClerks, "SearchClerkId", "Name"), "-- Select Search Clerk --")
                    @Html.ValidationMessageFor(model => model.SearchClerkId)
                </td>
            </tr>
        </table>
        <br />

        <input type="submit" value="Create" />
    }  
}
